<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>博客</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(4)"></nav>

<!--中间内容-->
    <div class="m-container-small m-padded-tb-big ">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached padded segment animate__animated animate__rotateInDownLeft">
                <div class="ui two column grid middle aligned">
                    <div class="column">
                        <h3 class="ui header teal">归档</h3>
                    </div>
                    <div class="column right aligned">
                        共  <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇博客
                    </div>
                </div>
            </div>

            <h3 class="ui header center aligned">2020</h3>
            <div class="ui fluid vertical menu animate__animated animate__rotateInDownRight">
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
            </div>
            <h3 class="ui header center aligned">2019</h3>
            <div class="ui fluid vertical menu animate__animated animate__rotateInDownLeft">
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
            </div>
            <h3 class="ui header center aligned">2018</h3>
            <div class="ui fluid vertical menu animate__animated animate__rotateInDownRight">
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
                <a href="#" target="_blank" class="item ">
                   <span><i class="mini teal circle icon  "></i> 关于刻意练习的清单
                   <div class="ui teal basic left pointing label m-padded-mini m-text-thin">09-02</div>
                   </span>
                    <div class="ui orange basic left rounded label  m-text-thin">原创</div>
                </a>
            </div>
        </div>
    </div>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<script>
<!--    操控导航栏按钮,控制菜单栏显示-->
    $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>